# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\my\Gayath\ITPM_TimeTable_Management\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
